@import "../../variables.scss";

.contactUsContainer {
   @include PageContainer();

   .contactUs {
      @include Page();
      display: flex;

      .diagram {
         img {
            height: 125%;
            position: relative;
            bottom: 85px;
            right: 100px;
            z-index: -10;
         }
      }
   }
}
