@import "../../variables.scss";

.contactUsContainer {
   @include PageContainer();

   .contactUs {
      @include Page();
      display: flex;

      .svgImg {
         position: absolute;
         right: 150px;
         top: 20px;
         z-index: -1;
         height: 110%;
         width: 600px;
         img {
            height: 100%;
         }
      }
   }
}

@media only screen and (max-width: 1300px) {
   .contactUsContainer {
      .contactUs {
         padding: 0;
         @include PageWithSmallScreen();
      }
   }
   .svgImg {
      display: none;
   }
}
