@import "../../variables.scss";

@mixin GeneralFormButtonStyles {
   width: 101%;
   height: 45px;
   border: none;
   font-size: 13px;
   font-weight: bold;
   margin-top: 15px;
   margin-bottom: 15px;
   border-radius: 2px;
}

.formClosed {
   width: 550px;
   padding-bottom: 200px;
}

.formOpen {
   width: 550px;
}

.formRow {
   display: flex;
   width: 100%;
   justify-content: space-between;

   .fill {
      width: 80px;
   }
}

#bottomRow {
   justify-content: space-around;
   .fill2 {
      width: 80px;
   }
   #middleFill {
      width: 60px;
   }
   .subRow {
      display: flex;
      justify-content: space-between;
   }
}
.numButton {
   background-color: $opac-button-color;
   color: $main-color;
   @include GeneralFormButtonStyles();
}

.submitButton {
   background-color: $main-color;
   color: white;
   cursor: pointer;
   @include GeneralFormButtonStyles();

   img {
      height: 15px;
      float: left;
      margin-left: 5px;
   }

   label {
      position: relative;
      cursor: pointer;

      right: 10px;
   }
}

@media only screen and (max-width: 1000px) {
   .formClosed {
      padding-bottom: 0px;
   }

   #addessRow {
      display: block;
      padding-bottom: 20px;
      .fill {
         height: 20px;
      }
   }

   #bottomRow {
      display: block;
      padding-bottom: 20px;

      .subRow {
         display: flex;
         #hideFill {
            display: none;
         }
      }
   }
}
