@import "../../variables.scss";

$swiper-height: 500px;
@mixin buttonStyles {
   color: $opac-button-color;
   background-color: $main-color;
   width: 130px;
   border-radius: 3px;
   font-size: 12px;
   font-weight: 1000;
   border: none;
   padding: 15px 30px;
   cursor: pointer;
   font-family: $font-family;
   margin-top: 20px;
}

.infoDiv {
   height: $swiper-height;
   display: flex;
   align-items: center;
   justify-content: center;
   .loader {
      border: 16px solid #f3f3f3; /* Light grey */
      border-top: 16px solid $main-color; /* Blue */
      border-radius: 50%;
      width: 120px;
      height: 120px;
      animation: spin 2s linear infinite;
   }

   @keyframes spin {
      0% {
         transform: rotate(0deg);
      }
      100% {
         transform: rotate(360deg);
      }
   }
}

.swiper {
   height: $swiper-height;

   .swiper-button-prev,
   .swiper-button-next {
      color: white;
      background-color: rgba(255, 255, 255, 0.2);
      width: 40px;
      height: 40px;
      font-size: 1px;
      border-radius: 2px;
   }
   .swiper-button-prev::after {
      content: "◀";
      font-size: 13px;
   }
   .swiper-button-next::after {
      content: "▶";
      font-size: 13px;
   }
   .swiper-pagination-bullet {
      width: 7px;
      height: 7px;
      background-color: white;
      opacity: 1;
   }
   .swiper-pagination-bullet-active {
      width: 11px;
      height: 11px;
      background: $main-color;
      position: relative;
      top: 2px;
   }

   #img1 {
      width: 100%;
      height: 100%;
      -o-object-fit: cover;
      object-fit: cover;
      object-position: 0% 27%;
      transform: scale(1.07);
   }
   #img2 {
      width: 100%;
      height: 100%;
      -o-object-fit: cover;
      object-fit: cover;
      object-position: 0% 50%;
   }

   .fade {
      width: 50%;
      height: 100%;
      position: absolute;
      z-index: 1000;
      background: linear-gradient(
         to left,
         transparent 0%,
         rgba(0, 0, 0, 0.9) 100%
      );

      .carouselTextHolder {
         position: relative;
         left: 25%;
         top: 26%;
         color: #ffffff;
         font-weight: bold;
         .title {
            font-size: 35px;
            font-weight: 100;
            margin: 0;
         }
         button {
            @include buttonStyles();
         }
      }
   }
}

.secondRowContainer {
   @include PageContainer();

   .secondRow {
      @include Page();
      display: flex;
      .textHolder {
         width: 1000px;
         margin-right: 60px;
         .subTitle {
            margin-top: 0;
         }
         .listText {
            position: relative;
            bottom: 10px;
            padding: 10px;
         }
      }
      button {
         position: relative;
         bottom: 20px;
         @include buttonStyles();
      }
      .imgHolder {
         display: flex;
         justify-content: center;
         width: 100%;

         .img {
            position: relative;
            top: 10px;
            height: 345px;
            width: 550px;

            border-radius: 4px;
         }
      }
   }
}

.thirdRowContainer {
   background-image: url("../../assets/shutterstock_1302552622.jpg");
   height: 500px;
   background-position: 40% 8%;
   background-size: 120%;

   .thirdRow {
      @include Page();

      .textHolder {
         padding: 30px;
         width: 500px;
         margin-right: 90px;
         background: rgba(99, 92, 88, 1);
         color: white;
         border-radius: 2px;
         position: relative;
         top: 50px;
         .subTitle {
            margin-top: 0;
         }
         .listText {
            position: relative;
            bottom: 10px;
            padding: 10px;
         }

         button {
            @include buttonStyles();
            background: rgba(238, 247, 255, 1);
            color: $main-color;
         }
      }
   }
}

.fourthRowContainer {
   @include PageContainer();
   text-align: center;
   .fourthRow {
      justify-content: center;
      @include Page();
      .subSubTitle {
         position: relative;
         bottom: 15px;
      }
      .mainText {
         -moz-column-count: 3;
         -moz-column-gap: 50px;
         -webkit-column-count: 3;
         -webkit-column-gap: 50px;
         column-count: 3;
         column-gap: 50px;
         text-align: start;
      }
      button {
         @include buttonStyles();
      }
   }
}

@media only screen and (max-width: 1100px) {
   .secondRowContainer {
      .secondRow {
         @include PageWithSmallScreen();
         display: block;
         margin-top: 50px;
         -webkit-transform: rotate(-180deg);
         transform: rotate(-180deg);
         .textHolder {
            -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
            width: 100%;
            .subTitle {
               font-size: 20px;
               padding-top: 15px;
            }
            .listText {
               font-size: 11px;
            }
            button {
               width: 100%;
            }
         }
         img {
            -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
            max-width: 100%;
            height: auto;
         }
      }
   }
}
@media only screen and (max-width: 600px) {
   .swiper {
      .swiper-button-prev,
      .swiper-button-next {
         display: none;
      }
      .swiper-slide {
      }
      .fade {
         width: 100%;
         .carouselTextHolder {
            left: 0%;
            padding: 0 20px 0 20px;
            margin: auto;
            button {
               width: 100%;
            }
         }
      }
      #img1 {
         object-position: 47% 10%;
         transform: scale(1);
      }
      #img2 {
         object-position: 70% 0%;
      }
   }
}

@media only screen and (max-width: 1000px) {
   .thirdRowContainer {
      height: 500px;
      background-position: 55% 0%;
      background-size: 205%;
      .thirdRow {
         .textHolder {
            padding: 25px;
            .subTitle {
               font-size: 20px;
            }
            width: 100%;
            background: rgba(0, 0, 0, 0.5);
            top: 10px;
            right: 25px;
            button {
               width: 100%;
            }
         }
      }
   }

   .fourthRowContainer {
      .fourthRow {
         @include PageWithSmallScreen();

         .mainText {
            -moz-column-count: 1;
            -moz-column-gap: 0px;
            -webkit-column-count: 1;
            -webkit-column-gap: 0px;
            column-count: 1;
            column-gap: 0px;
            text-align: start;
            u {
               font-size: 12px;
            }
            font-size: 12px;
         }
         button {
            width: 100%;
         }
      }
   }
}
