@import "../../variables.scss";

.footerContainer {
   width: 100%;
   margin-top: auto;

   .footer {
      border-top: $headfoot-border;
      width: $bodywidth;
      height: $headfoot-height;
      margin: auto;
      background-color: $headfoot-backgroundcol;

      .tag {
         @include GrayedText();
         float: right;
         position: relative;
         top: 7px;

         u {
            text-decoration: underline;
         }
      }
   }
}
