//button default colors
$button-color: #2f7bb9;
$opac-button-color: #eff7ff;

//fontfamily
$font-family: "Quicksand", sans-serif;

//styles for footer and header
$headfoot-border: 2px solid
   rgba(
      $color: gray,
      $alpha: 0.15,
   );
$headfoot-height: 65px;
$headfoot-backgroundcol: white;

//form default colors
$formfield-color: #f8f9fc;

//styles for page containers
$bodywidth: 75%;
$text-padding: 10px;

@mixin PageContainer {
   width: 100%;
   flex: 1;
}
@mixin Page {
   padding: 30px;
   width: $bodywidth;
   margin: auto;
}

//styles for the grayed out texr
@mixin GrayedText {
   color: rgba($color: gray, $alpha: 0.8);
   font-size: 14px;
}
