@import "../../variables.scss";

.aboutUsContainer {
   @include PageContainer();

   .aboutUs {
      @include Page();

      .imgHolder {
         padding-bottom: $text-padding;
         width: 100%;
         display: flex;
         justify-content: center;

         .img {
            height: 425px;
            border-radius: 4px;
         }
      }

      a {
         text-decoration: underline;
         color: #2f7bb9;
      }

      ul {
         position: relative;
         right: 23px;

         li::marker {
            font-size: 9px;
         }
      }
   }
}
